.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
  width: 90%;
  height: 34.375rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(var(--color-black-rgb), 0.2);
  padding: 0.625rem;
  background-color: var(--color-white);
  border-radius: 1.25rem;
  position: absolute;
}

.review__img {
  height: 9.375rem;
  width: 9.375rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0.1875rem -0.1875rem 0rem 0rem var(--color-primary);
}

.review__name {
  font-size: 1.25rem;
  letter-spacing: 0.09375rem;
}

.review__range {
  font-size: 0.9375rem;
  color: var(--color-primary);
}

.review__description {
  font-size: 0.75rem;
  width: 80%;
  text-align: justify;
  padding: 1.25rem;
}

.review__btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 6.25rem;
  padding: 0.625rem;
}

.review__btn-prev,
.review__btn-next {
  background: none;
  border: none;
}

.review__btn-prev-icon,
.review__btn-next-icon {
  font-size: 1.25rem;
  color: var(--color-primary);
  cursor: pointer;
}

.review__btn-surprise {
  padding: 0.625rem;
  width: 12.5rem;
  border-radius: 0.625rem;
  font-size: 0.9375rem;
  background: none;
  border: 0.125rem solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
}

@media only screen and (min-width: 540px) {
  .review {
    width: 31.25rem;
  }
}
